.container{
display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
}
.logo{
    max-width:400px;
}

.login-section{
    background-color:#f3f3f3;
}

#navbarSupportedContent{
    flex-direction:row-reverse;
}

.btn-newpost {
    color: white;
    background-color: #26ad53;
    border-color: #60d96e;
}

.btn-newpost:hover {
    color:white;
    background-color: #41cc6f;
    border-color: #60d96e;
}